{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=3306;Database=[DB_NAME];Uid=[DB_USER];Pwd=[DB_PASSWORD];"
  },
  "Jwt": {
    "Key": "votre_cle_secrete_ultra_securisee_et_assez_longue_pour_jwt"
  }
}
