# URL de base de l'API Backend .NET
# ATTENTION : Ne pas utiliser localhost sur un smartphone reel ou un emulateur.
# Utilisez l'adresse IPv4 de votre machine sur le reseau local (ex: http://192.168.1.XX:5256/api)
EXPO_PUBLIC_API_URL=http://[ADRESSE_IP]:5256/api
